/* 폰트 링크 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    font-family: 'Pretendard';
}

html, body{
    /* Start https://www.cursors-4u.com */ cursor: url(https://cur.cursors-4u.net/food/foo-6/foo506.png), auto !important; /* End https://www.cursors-4u.com */
    scroll-behavior: smooth;
}

.wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}


/* 헤더 */

.header_bg{
    width:100%;
    height: 180px;
    position: fixed;
    background-color: white;
    z-index: 999999;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.header{
    width: 1400px;
    height: 180px;
    position: relative;
    margin: 0 auto;
}

.ballon{
    width: 80px;
    height: 25px;
    background-color: #8cdc9f;
    position: absolute;
    top: 50px;
    right: 85px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.ballon:after{
    content: "";
    position: absolute;
    top: 4px;
    right: -9px;
    border-left: 15px solid #8cdc9f;
    border-top: 10px solid transparent;
    border-bottom: 5px solid transparent;
}

.ballon p{
    margin-top: 6px;
    margin-left: 23px;
}

.ballon.none{
    display: none;
}

.header h1{
    width: 200px;
    height: 74px;
    line-height: 80px;
    text-align: center;
    font-size: 27px;
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Felix Titling';
}

.header img{
    width: 74px;
    height: 74px;
    float: right;
    position: absolute;
    right: 0;
    top: 53px;
}


/* 이미지 슬라이더 */
.slide_bg{
    width: 100%;
    height: 240px;
    position: absolute;
    top: 180px;
    background-image: url(../images/slide_gall.png);
    z-index: -9;
}

.slide{
    width: 1400px;
    height: 240px;
    text-indent: -9999px;
    position: relative;
    top: 180px;
    margin: 0 auto;
}


/* 콘텐츠 영역 : intro */

.contents{
    width: 1400px;
    height: 2000px;
    position: relative;
    margin: 0 auto;
}

.contents_box{
    width: 1400px;
    height: 1000px;
}

.dodo_left{
    position: absolute;
    left: 150px;
    top: 205px;
    opacity: 0;
}

.dodo_right{
    position: absolute;
    top: 70px;
    right: 130px;
    opacity: 0;
}

.dodo_left.active, .dodo_right.active{
    opacity: 1;
}

.intro{
    width: 100%;
    height: 900px;
    position: relative;
    top: 160px;
    margin-top: 30px;
}

.intro h4{
    width: 1400px;
    height: 20px;
    color: #6a6a6a;
    margin-left: 115px;
    position: absolute;
    font-size: 13px;
    top: 30px;
}

.intro h2{
    width: 1400px;
    height: 50px;
    line-height: 150px;
    font-size: 25px;
    margin-left: 115px;
    color: #111;
}

.intro p{
    width: 665px;
    height: 320px;
    position: absolute;
    top: 350px;
    left: 556px;
    line-height: 30px;
}

.dodo_title{    
    font-size: 21px;
}

.dodo_birds{
    font-weight: bold;
}

.dodo_msg{
    font-size: 18px;
}

.dodo_msg_color{
    color: #024e94;
}


/* 콘텐츠 영역 : gallery */


.circle{
    position: absolute;
    right: 40px;
    z-index: 9999;
    top: 980px;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100%{
        transform: rotate(360deg);
    }
}



.gall{
    width: 1400px;
    margin: 100px auto 20px auto;
}

.gall_box{
    width: 1170px;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.gall_box h2{
    margin-bottom: 20px;
    font-size: 25px;
}

.arrow{
    width: 1170px;
    height: 30px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.arrow_left{
    width: 30px;
    height: 30px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.arrow_right{
    width: 30px;
    height: 30px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 10px;
    cursor: pointer;
}



.gall_title{
    width: 1170px;
    height: 50px;
    text-align: right;
    font-size: 21px;
    margin: 20px auto 20px auto;
}

.gall_title span{
    margin-right: 50px;
    color: #6a6a6a;
}

.gall_list{
    width: 1170px;
    height: 200px;
    margin: 30px auto;
}

.gall_list li{
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 100%;
    margin-right: 35px;
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
    cursor: pointer;
}


.gall_list li:first-child{
    margin-left: 17.5px;
}

.gall_list li:last-child{
    margin-right: 0;
}

.gall_list li img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.gall_list li:hover{
    opacity: 0.8;
}

.gall_list li.border{
    border: 8px solid #233264;
}

.gall_img_title{
    display: none;
}


/* 푸터 영역 */

.footer_bg{
    width: 100%;
    background-color: #2b282d;
}

.footer{
    width: 1400px;
    height: 147px;
    margin: 0 auto;
    background-color: #2b282d;
    color: white;
    position: relative;
    margin: 0 auto;
}

.footer h1{
    font-family: 'Felix Titling';
    font-weight: 100;
    color: #777;
    width: 230px;
    height: 30px;
    box-sizing: border-box;
    font-size: 1.7rem;
    margin-left: 270px;
    position: absolute;
    top: 55px;
    border-right: 1px solid #777;
}

.footer_txt{
    width: 450px;
    height: 60px;
    position: absolute;
    top: 55%;
    left: 56%;
    transform: translate(-50%,-50%);
}

.footer_txt>h3, .footer_txt>p{
    width: 500px;
    height: 20px;
    font-size: 0.7rem;
}

.footer_txt h3{
    cursor: pointer;
}

.footer_txt p{
    font-weight: 100;
}

.footer_sns{
    width: 150px;
    height: 25px;
    position: absolute;
    right: 200px;
    top: 40%;
    transform: translateY(-50%);
}

.footer_sns li{
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    position: relative;
}

.footer_sns img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.footer_sns li:hover{
    background-color: #2b282d;
}

.footer_sns li:last-child{
    margin-right: 0;
}




